Django==5.2.6
djangorestframework==3.16.1
django-csp==4.0
psycopg2-binary==2.9.10
beautifulsoup4==4.13.5
soupsieve==2.8
typing-extensions==4.15.0
openpyxl==3.1.5
et-xmlfile==2.0.0
packaging==25.0
Pillow==10.4.0
